@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
.cursive {
  font-family: "Great Vibes", cursive;
}

#header {
  background-color: rgba(173, 216, 230, 0.5);
}

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.shadow {
  /* -webkit-text-stroke: 1px white; */
  text-shadow: 2px 2px 2px lightskyblue;
  --tw-shadow: none;
}

button {
  cursor: pointer;
}

.image-div img {
  border: 1px solid skyblue;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
