@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

h1,
.cursive {
  font-family: "Great Vibes", cursive;
}

#header {
  /* background-color: #f9f7f4; */
  background: rgba(199, 225, 247, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.shadow {
  /* -webkit-text-stroke: 1px white; */
  text-shadow: 2px 2px 2px white;
  --tw-shadow: none;
}

.shadow-2 {
  /* -webkit-text-stroke: 1px white; */
  text-shadow: 2px 2px 2px black;
  --tw-shadow: none;
}

button {
  cursor: pointer;
}

.image-div img {
  border: 1px solid skyblue;
}

#banner {
  position: relative;
}

#banner h2 {
  color: #ededed;
  position: absolute;
  top: 50px;
  margin: 0 auto;
  font-size: 3rem;
  background: rgba(235, 126, 36, 0.5);
  padding: 15px 30px;
  border-radius: 25px;
  left: 0;
  right: 0;
}

#story {
  /* background-color: rgba(173, 216, 230, 0.5); */
  background: rgba(199, 225, 247, 0.4);
}

#story p {
  width: 80%;
}

#details {
  background: #f3b05c;
}

iframe {
  height: 250px;
  width: 370px;
  margin: 20px 0 0 15px;
}

#gallery {
  background: rgba(199, 225, 247, 0.4);
}

footer {
  background: #f3b05c;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1130px) {
  #banner h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 1024px) {
  #header h1 {
    font-size: 5rem;
  }
}

@media (max-width: 980px) {
  #header h1 {
    font-size: 4.5rem;
  }
  #banner h2 {
    top: 30px;
  }
}

@media (max-width: 875px) {
  #banner h2 {
    top: 20px;
  }
}

@media (max-width: 815px) {
  #header h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 3.25rem;
  }
  #header p {
    font-size: 2rem;
  }
  #banner h2 {
    position: static;
    width: 100%;
    border-radius: 0;
  }
  #header {
    padding: 40px 0 25px 0;
  }
  #story {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 30px 0;
  }
  #story h2 {
    text-align: center;
  }
  #story p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  #details {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 30px 0;
  }
  iframe {
    margin: 30px auto 0;
    width: 85%;
    height: 23vh;
  }
  #gallery {
    padding: 30px 0;
  }
  #gallery h2 {
    text-align: center;
  }
  #image-div {
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #image-div img {
    margin: 5px auto;
    width: 90%;
  }
}

@media (max-width: 580px) {
  #header h1 {
    font-size: 2.5rem;
  }
  #header p {
    font-size: 1.6rem;
    padding: 15px 0 0 0;
  }
  #banner h2 {
    font-size: 1.75rem;
  }
  iframe {
    height: 15vh;
  }
}

@media (max-width: 495px) {
  #banner h2 {
    font-size: 1.5rem;
  }
  #header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  #details h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 440px) {
  #header h1 {
    font-size: 2rem;
  }
  #header p {
    font-size: 1.3rem;
  }
  #banner h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  #story h2,
  #gallery h2 {
    font-size: 2rem;
  }
  #footer p:nth-of-type(1) {
    font-size: 1.7rem;
  }
  #footer p:nth-of-type(2),
  #footer p:nth-of-type(3) {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  #details h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 395px) {
  #header h1 {
    font-size: 1.5rem;
  }
  #header p {
    font-size: 1rem;
  }
  #banner h2 {
    font-size: 1rem;
  }
}

@media (max-width: 330px) {
  #banner h2 {
    font-size: 14px;
  }
}
